// custom.scss
@import '~bootstrap/scss/bootstrap';

.parentpay-navbar {
    padding: 0;
  
    .container-fluid {
      @media (max-width: 767px) {
        padding: 0 5px;
      }
    }
  
    &.no-watermark {
      background-color: white;
    }
  
    .app-logo img {
      width: 180px;
    }
  }

  ul {
    text-decoration: none;
  }